/* https://colorbrewer2.org/#type=qualitative&scheme=Paired&n=12 */
:root {
    --mri: #a6cee3;
    --pet: #1f78b4;
    --micr: #33a02c;
    --meeg: #6a3d9a;
    --beh: #fb9a99;
    --nirs: #b2df8a;
    --motion: #e31a1c;
    --unused: #fdbf6f;
    --unused2: #ff7f00;
    --unused3: #cab2d6;
    --unused4: #ffff99;
    --unused5: #b15928;
    --key: #e41a1c;
    --label: #377eb8;
    --suffix: #4daf4a;
    --ext: #984ea3;
    --underscore: #ff7f00;
}

p { text-align: justify; }

.iframe-container{
    position: relative;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container > iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
